<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/a5Store.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
    <title>Pizza Lovers</title>
</head>

<body>

    <nav>
        <div class="logo">
            <img src="css/PizzaLovers.png" alt="LOGO">
        </div>

        <div class="hamburger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>

        <ul class="nav-links">


            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#Newsroom">Menu</a>
            </li>
            <li>
                <a href="">Coupons</a>
            </li>
            <li>
                <a href="" class="services">Service</a>
            </li>
            <li>
                <a href="">Discover</a>
            </li>
            <li>
                <a href="">About</a>
            </li>
            <li><button class="login-button" href="#">Login</button></li>
            <li><button class="join-button" href="#">Join</button></li>
        </ul>
    </nav>

    <aside class="aside">
        <div class="asidecard">
            <img src="../css/bg10a.jpg" alt="Pizza Image">
            <div class="asidecardcontainer">
                <a href="#">
                    <h2>Special</h2>
                </a>
            </div>

        </div>
        <div class="asidecard">
            <img src="../css/bg11a.jpg" alt="Pizza Image">
            <div class="asidecardcontainer">
                <a href="#">
                    <h2>Pizzas</h2>
                </a>
            </div>

        </div>
        <div class="asidecard">
            <img src="../css/bg12a.jpg" alt="Sides Image">
            <div class="asidecardcontainer">

                <a href="#">
                    <h2>Sides</h2>
                </a>
            </div>
        </div>
        <div class="asidecard">
            <img src="../css/bg13a.jpg" alt="Drinks Image">
            <div class="asidecardcontainer">

                <a href="#">
                    <h2>Drinks</h2>
                </a>
            </div>
        </div>
        <div class="asidecard">
            <img src="../css/bg14a.jpg" alt="Pizza and Dip Image">
            <div class="asidecardcontainer">

                <a href="#">
                    <h2>Extras</h2>
                </a>
            </div>
        </div>
        <div class="asidecard">
            <div class="asidecardcontainer">
                <a href="#">
                    <h2>More</h2>
                </a>
            </div>
        </div>
    </aside>
    <section class="main">

        <div class="card">
            <img src="../css/bg2a.jpg" alt="Pizza Image">
            <div class="cardcontainer">
                <h4><b>BANQUET CHEDDAR</b></h4>
                <a href="item1.html" target=_blank>
                    <p>Ground Beef, Bacon, Cheddar Cheese</p>
                </a>
            </div>
            <div class="price">
                <p>20.99$</p>
            </div>
        </div>
        <div class="card">
            <img src="../css/bg5a.jpg" alt="Pizza Image">
            <div class="cardcontainer">
                <h4><b>CHEDDAR SUPREME</b></h4>
                <a href="item2.html" target=_blank>
                    <p>Broccoli, Cheddar Cheese, Grilled Chicken</p>
                </a>
            </div>
            <div class="price">
                <p>19.99$</p>
            </div>
        </div>
        <div class="card">
            <img src="../css/bg4a.jpg" alt="Pizza Image">
            <div class="cardcontainer">
                <h4><b>CALABRESE</b></h4>
                <p><a href="item3.html" target=_blank>Spicy Spausage, Spinach, Onions, Roasted Peppers</a></p>
            </div>
            <div class="price">
                <p>22.99$</p>
            </div>
        </div>

        <div class="card">
            <img src="../css/bg6a.jpg" alt="Pizza Image">
            <div class="cardcontainer">
                <h4><b>HONEY STINGER</b></h4>
                <a href="item4.html" target=_blank>
                    <p>Hot Soppressata, Sundried Black Olives, drizzled with hot honey</p>
                </a>
            </div>
            <div class="price">
                <p>18.99$</p>
            </div>
        </div>

    </section>
    <section class="ads">
        <div class="adscard">
            <img src="../css/bg7a.jpg" alt="Pizza Image">
            <div class="adscardcontainer">
                <h4><b>Pick-Up Special 1</b></h4>
                <a href="#" target=_blank>
                    <p>1 Pizza<br>1 Topping<br>1 FREE Dip</p>
                </a>
            </div>
            <div class="price">
                <p>10.99$</p>
            </div>
        </div>
        <div class="adscard">
            <img src="../css/bg8a.jpg" alt="Pizza Image">
            <div class="adscardcontainer">
                <h4><b>Pick-Up Special 2</b></h4>
                <a href="#" target=_blank>
                    <p>1 Pizza<br>3 Toppings<br>1 FREE Dip</p>
                </a>
            </div>
            <div class="price">
                <p>11.50$</p>
            </div>
        </div>
        <div class="adscard">
            <img src="../css/bg9a.jpg" alt="Pizza Image">
            <div class="adscardcontainer">
                <h4><b>Pick-Up Special 3</b></h4>
                <p><a href="#" target=_blank>2 Pizzas<br>
                        6 Toppings Combined<br>
                        2 FREE Dips</a></p>
            </div>
            <div class="price">
                <p>21.99$</p>
            </div>
        </div>

    </section>
    <script src="css/nav.js"></script>
</body>

</html>